#Rhistory file
*.Rhistory

#ignore RAPID dataset output
output files/VR-Claw_RAPID/
output files/VR-Eye_RAPID/

#ignore CyTOF vs SFC dataset output
output files/CyTOF vs SFC/

#ignore IMC dataset output
output files/VR-Eye_IMC/

#ignore covid vaccine dataset output
output files/COVID vaccine/

#ignore vignettes folder (work in progress)
vignettes/